{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <title>Вхід / Реєстрація</title>
</head>
<body class="auth-body">

<div class="login-wrap">
    <div class="h1">Вхід</div>
    
    <form method="post">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="mb-3">
                {{ field }}
                {% if field.errors %}
                    <div style="color: #ff4d4d; font-size: 0.7em; margin-top: 5px;">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn-submit">Увійти</button>
    </form>
    
    <div style="margin-top: 25px; text-align: center;">
        <a href="{% url 'signup' %}" style="color: #00ddeb; text-decoration: none; font-size: 0.8em;">
            Немає акаунту? Реєстрація
        </a>
    </div>
</div>

</body>
</html>